@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: var(--header-height) 0;
    min-height: 900px;
    background-position: 100% 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 1050px;
    width: 100%;
    padding-left: 38px;

    &::before {
      @include cover-background;

      content: "";
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      height: 586px;
      width: 6px;
      background-image: url("../images/icons/decor-icon.svg");
    }
  }

  .desc {
    margin-bottom: clamp(32px, 3.4vw, 48px);
  }

  &--section {
    .hero__inner {
      justify-content: flex-start;
      min-height: auto;
      padding: clamp(40px, 6vw, 86px) 0;
    }

    .hero__content {
      max-width: 570px;
      width: 100%;
      padding-left: 0;

      &::before {
        display: none;
      }

      h2 {
        margin-bottom: 32px;
        line-height: 1.2;
      }

      .text {
        margin-bottom: 32px;
      }
    }
  }

  &--reverse {
    .hero__content {
      margin-left: auto;
    }
  }

  &--gallery {
    .desc {
      font-size: clamp(18px, 2vi, 23px);
    }
  }

  @include media(tablet) {
    &__inner {
      min-height: 600px;
    }

    &__content {
      padding-left: 32px;

      &::before {
        height: calc(100% + 40px);
        background-size: contain;
      }
    }

    &--section {
      .hero__inner {
        background-position: left;
      }

      .hero__content {
        margin-inline: 0;
      }
    }
  }

  @include media(mobile-m) {
    &__inner {
      min-height: 450px;
    }

    &__content {
      padding-left: 20px;
    }
  }
}