@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;
  padding: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: var(--header-height) 0;
    min-height: 900px;
    background-position: 100% 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 1050px;
    width: 100%;
    padding-left: 38px;

    &::before {
      @include cover-background;

      content: "";
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      height: 586px;
      width: 6px;
      background-image: url("../images/icons/decor-icon.svg");
    }
  }

  .desc {
    margin-bottom: clamp(32px, 3.4vw, 48px);
  }

  @include media(tablet) {
    &__inner {
      min-height: 600px;
    }

    &__content {
      padding-left: 32px;

      &::before {
        height: calc(100% + 40px);
        background-size: contain;
      }
    }
  }

  @include media(mobile-m) {
    &__inner {
      min-height: 450px;
    }

    &__content {
      padding-left: 20px;
    }
  }
}