@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.section {
  padding: clamp(40px, 6vw, 86px) 0;

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 2vw, 24px) 0;
    margin-bottom: clamp(32px, 4.6vw, 64px);

    &--centered {
      text-align: center;
    }
  }

  &--featured {
    .section__nav {
      margin-bottom: clamp(32px, 5.4vw, 76px);
    }
  }

  &--about {
    .section__nav {
      margin-bottom: clamp(32px, 6vw, 84px);
    }

    @include media(tablet) {
      padding-bottom: 0;
    }
  }

  &--reviews {
    .section__nav {
      margin-bottom: clamp(32px, 4.4vw, 60px);
    }
  }

  &--request {
    @include cover-background;

    .section__nav {
      margin-bottom: 32px;
    }
  }

  &--creamy,
  &--white {
    color: var(--color-red-800);
  }

  &--creamy {
    background-color: var(--color-cream-400);
  }

  &--white {
    background-color: var(--color-white);
  }

  @include media(tablet) {
    &__nav {
      br {
        display: none;
      }
    }
  }
}