@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.page {
  height: var(--vh);
  font-family: var(--font-family-primary);
  font-weight: var(--fw-400);
  font-style: normal;
  font-size: clamp(16px, 2vi, 18px);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-white);
  background-color: var(--color-red-800);
  font-optical-sizing: auto;

  &--white {
    background-color: var(--color-white);
    color: var(--color-red-800);
  }

  &--no-hero {
    padding-top: var(--header-height);

    .header {
      background-color: var(--color-red-800);
      color: var(--color-white);
    }
  }

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.open {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--large {
    max-width: var(--container-large);
  }
}

.site-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  min-height: var(--vh);
}

.main {
  &--no-hero {
    padding-top: var(--header-height);
  }
}

.overlay {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: var(--color-black-50);
  }

  &--intense::before {
    background-color: var(--color-black-70);
  }
}

.article {
  position: relative;
  filter: brightness(1);
  transition: filter 0.4s ease-in-out;

  &__link::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  img {
    filter: brightness(1);
    border: 0 double transparent;
    transition-property: filter, border;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    filter: opacity(0.8);
  }

  &:hover img {
    filter: brightness(0.7);
    border: 10px double var(--color-white);
  }
}